<mat-grid-list cols="4" [rowHeight]="youtubeService.channelDetails.items[0].snippet.thumbnails.medium.height">
    <mat-grid-tile class="bg-primary" colspan="3">                               
        {{youtubeService.channelDetails.items[0].snippet.title}}
    </mat-grid-tile>
    <mat-grid-tile class="bg-danger" colspan="1">
        <img [src]="youtubeService.channelDetails.items[0].snippet.thumbnails.medium.url" class="img-fluid"/>
    </mat-grid-tile>
    <mat-grid-tile class="bg-success" colspan="3">
        {{youtubeService.channelDetails.items[0].snippet.description}}
    </mat-grid-tile> -->
    <mat-grid-tile class="bg-secondary" colspan="1">
        {{youtubeService.channelDetails.items[0].snippet.thumbnails.medium.height}}
    </mat-grid-tile>
</mat-grid-list>