<mat-toolbar>
    <span routerLink="/" role="button">
        Commenter Counter
    </span>
    <button mat-button [matMenuTriggerFor]="channelMenu">Channel</button>
    <mat-menu #channelMenu="matMenu">
      <a mat-menu-item routerLink="/channel-details">Details</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="commentMenu">Comments</button>
    <mat-menu #commentMenu="matMenu">
      <a mat-menu-item>View Comments</a>
      <a mat-menu-item>Something With Comments</a>
    </mat-menu>
    <button class="ms-auto" mat-icon-button aria-label="Logout" (click)="youtubeService.logout()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>